# Regression with no predictors

In [ ]:
import stata_setup
stata_setup.config('/Applications/Stata/', 'mp', splash = False)
from pystata import stata
from sfi import Scalar
import sfi
import numpy as np

In [ ]:
%%stata
use https://stats.idre.ucla.edu/stat/stata/notes/hsb2

(highschool and beyond (200 cases))

In [ ]:
%stata summarize race

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        race |        200        3.43    1.039472          1          4

In [ ]:
df = stata.pdataframe_from_data()

In [ ]:
sfi.ValueLabel.getNames()

['fl', 'sel', 'scl', 'sl', 'rl']

In [ ]:
%stata describe

Contains data from https://stats.idre.ucla.edu/stat/stata/notes/hsb2.dta
 Observations:           200                  highschool and beyond (200
                                                cases)
    Variables:            11                  17 Jun 2002 08:48
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
id              float   %9.0g
female          float   %9.0g      fl
race            float   %12.0g     rl
ses             float   %9.0g      sl
schtyp          float   %9.0g      scl        type of school
prog            float   %9.0g      sel        type of program
read            float   %9.0g                 reading score
write           float   %9.0g                 writing score
math            float   %9.0g                 math score
science         float   %9.0g                 science score
socst           float   %9.0g                 social studies score
-------------------------------------------------------------------------------
Sorted by:

In [ ]:
sfi.ValueLabel.getValueLabels('rl')

{1: 'hispanic', 2: 'asian', 3: 'african-amer', 4: 'white'}

In [ ]:
%%stata
use https://stats.idre.ucla.edu/stat/stata/notes/hsb2
summarize write

. use https://stats.idre.ucla.edu/stat/stata/notes/hsb2
(highschool and beyond (200 cases))

. summarize write

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
       write |        200      52.775    9.478586         31         67

.

In [ ]:
#standard errors as std/sqrt(samle size)
print(9.478586/np.sqrt(200))

0.6702372436659872

In [ ]:
%stata regress write

      Source |       SS           df       MS      Number of obs   =       200
-------------+----------------------------------   F(0, 199)       =      0.00
       Model |           0         0           .   Prob > F        =         .
    Residual |   17878.875       199   89.843593   R-squared       =    0.0000
-------------+----------------------------------   Adj R-squared   =    0.0000
       Total |   17878.875       199   89.843593   Root MSE        =    9.4786

------------------------------------------------------------------------------
       write | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
       _cons |     52.775   .6702372    78.74   0.000     51.45332    54.09668
------------------------------------------------------------------------------

In [ ]:
%%stata
describe

Contains data from https://stats.idre.ucla.edu/stat/stata/notes/hsb2.dta
 Observations:           200                  highschool and beyond (200
                                                cases)
    Variables:            11                  17 Jun 2002 08:48
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
id              float   %9.0g
female          float   %9.0g      fl
race            float   %12.0g     rl
ses             float   %9.0g      sl
schtyp          float   %9.0g      scl        type of school
prog            float   %9.0g      sel        type of program
read            float   %9.0g                 reading score
write           float   %9.0g                 writing score
math            float   %9.0g                 math score
science         float   %9.0g                 science score
socst           float   %9.0g                 social studies score
-------------------------------------------------------------------------------
Sorted by:

In [ ]:
%%stata
summarize write if female == 0
summarize write if female == 1

. summarize write if female == 0

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
       write |         91    50.12088    10.30516         31         67

. summarize write if female == 1

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
       write |        109    54.99083    8.133715         35         67

.

In [ ]:
#standard errors as std/sqrt(samle size)
print(10.30516/np.sqrt(91)) #MALE == FEMALE == 0
print(8.133715/np.sqrt(109)) #FEMALE == 1

1.0802742967993244
0.7790686023497557

In [ ]:
%stata regress write b0.race, noconst

note: 0b.race identifies no observations in the sample.

      Source |       SS           df       MS      Number of obs   =       200
-------------+----------------------------------   F(4, 196)       =   1715.58
       Model |  558954.283         4  139738.571   Prob > F        =    0.0000
    Residual |   15964.717       196  81.4526375   R-squared       =    0.9722
-------------+----------------------------------   Adj R-squared   =    0.9717
       Total |      574919       200    2874.595   Root MSE        =    9.0251

------------------------------------------------------------------------------
       write | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
        race |
          0  |          0  (empty)
   hispanic  |   46.45833   1.842243    25.22   0.000     42.82517     50.0915
      asian  |         58   2.721174    21.31   0.000     52.63346    63.36654
african-a~r  |       48.2   2.018076    23.88   0.000     44.22007    52.17993
      white  |   54.05517   .7494947    72.12   0.000     52.57706    55.53328
------------------------------------------------------------------------------

In [ ]:
sfi.ValueLabel.getValueLabels('rl')

{1: 'hispanic', 2: 'asian', 3: 'african-amer', 4: 'white'}

In [ ]:
stata.get_ereturn()

{'e(N)': 200.0,
 'e(df_m)': 4.0,
 'e(df_r)': 196.0,
 'e(F)': 1715.5806738152733,
 'e(r2)': 0.9722313631067628,
 'e(rmse)': 9.025111496293297,
 'e(mss)': 558954.283045977,
 'e(rss)': 15964.716954022988,
 'e(r2_a)': 0.9716646562313906,
 'e(ll)': -721.7696075696936,
 'e(rank)': 4.0,
 'e(cmdline)': 'regress write b0.race, noconst',
 'e(title)': 'Linear regression',
 'e(marginsprop)': 'minus',
 'e(marginsok)': 'XB default',
 'e(vce)': 'ols',
 'e(depvar)': 'write',
 'e(cmd)': 'regress',
 'e(properties)': 'b V',
 'e(predict)': 'regres_p',
 'e(model)': 'ols',
 'e(estat_cmd)': 'regress_estat',
 'e(b)': array([[ 0.        , 46.45833333, 58.        , 48.2       , 54.05517241]]),
 'e(V)': array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  3.3938599 ,  0.        ,  0.        , -0.        ],
        [ 0.        ,  0.        ,  7.40478523,  0.        , -0.        ],
        [ 0.        ,  0.        ,  0.        ,  4.07263188, -0.        ],
        [ 0.        , -0.        , -0.        , -0.        ,  0.56174233]]),
 'e(beta)': array([[8.98846567e+307, 1.59676310e+000, 1.39852472e+000,
         1.52937222e+000, 2.55280423e+000]])}

In [ ]:
betas = []

var = 'asian'
stata.run('scalar beta = _b[{}]'.format(var))
b = Scalar.getValue('beta')
b

Exception in thread Stata:
Traceback (most recent call last):
  File "/opt/homebrew/Cellar/python@3.9/3.9.14/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 980, in _bootstrap_inner
    self.run()
  File "/Applications/Stata/utilities/pystata/core/stout.py", line 169, in run
    raise SystemError(output)
SystemError: [asian] not found
r(111);

[0.6702372451782433]

In [ ]:
def get_means_ci(df, products, pressure_type, sig_lev = 0.1):
  '''pressure_type = 'pressure_per_million_kcal', 'pressure_per_tonnes_of_protein', 'pressure_per_tonnes' '''
  #adapted from def get_betas_ci
  #lists
  betas, crops, e_t, e_n, p_t, p_n = [], [], [], [], [], []
  #leep setup
  gb = df.groupby('product')
  for crop in products:
    #load in stata
    stata.pdataframe_to_data(gb.get_group(crop), force=True)
    #run regression
    stata.run('quietly regress {}'.format(pressure_type)) #quietly regress
    # var of interest (the name in the column in the output could be _const or xoil etc. )
    var = '_cons'
    #append params
    append_regression_params(crop, var, betas, crops, e_t, e_n, p_t, p_n)

  #make df
  df_grouped = pd.DataFrame(list(zip(betas, crops, e_t, e_n, p_t, p_n)),
               columns =['beta', 'crop', 'e_t', 'e_n', 'p_t', 'p_n'])

  #add significance
  add_significance(df_grouped, sig_lev)

  return df_grouped

def append_regression_params(crop, var, betas, crops, e_t, e_n, p_t, p_n):
    #betas
    stata.run('scalar beta = _b[{}]'.format(var))
    betas.append(Scalar.getValue('beta'))
    #crops
    crops.append(crop)
    # get std errors
    stata.run('scalar e_t = invttail(e(df_r),0.025)*_se[{}]'.format(var))
    stata.run('scalar e_n = invnormal(0.975)*_se[{}]'.format(var))
    e_t.append(Scalar.getValue('e_t'))
    e_n.append(Scalar.getValue('e_n'))
    #significance
    stata.run('scalar p_t = 2*ttail(e(df_r),abs(_b[{}]/_se[{}]))'.format(var,var))
    stata.run('scalar p_n = 2*normal(-abs(_b[{}]/_se[{}]))'.format(var,var))
    p_t.append(Scalar.getValue('p_t'))
    p_n.append(Scalar.getValue('p_n'))

In [ ]:
9.478586/np.sqrt(200)

0.6702372436659872

In [ ]:
%%stata

regress write i.female

.
. regress write i.female

      Source |       SS           df       MS      Number of obs   =       200
-------------+----------------------------------   F(1, 198)       =     13.94
       Model |  1176.21384         1  1176.21384   Prob > F        =    0.0002
    Residual |  16702.6612       198  84.3568745   R-squared       =    0.0658
-------------+----------------------------------   Adj R-squared   =    0.0611
       Total |   17878.875       199   89.843593   Root MSE        =    9.1846

------------------------------------------------------------------------------
       write | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
      female |
     female  |   4.869947   1.304191     3.73   0.000     2.298059    7.441835
       _cons |   50.12088   .9628077    52.06   0.000     48.22221    52.01955
------------------------------------------------------------------------------

.

In [ ]:
%stata summarize race

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        race |        200        3.43    1.039472          1          4

In [ ]:
%%stata

regress write b0.race, noconst

.
. regress write b0.race, noconst
note: 0b.race identifies no observations in the sample.

      Source |       SS           df       MS      Number of obs   =       200
-------------+----------------------------------   F(4, 196)       =   1715.58
       Model |  558954.283         4  139738.571   Prob > F        =    0.0000
    Residual |   15964.717       196  81.4526375   R-squared       =    0.9722
-------------+----------------------------------   Adj R-squared   =    0.9717
       Total |      574919       200    2874.595   Root MSE        =    9.0251

------------------------------------------------------------------------------
       write | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
        race |
          0  |          0  (empty)
   hispanic  |   46.45833   1.842243    25.22   0.000     42.82517     50.0915
      asian  |         58   2.721174    21.31   0.000     52.63346    63.36654
african-a~r  |       48.2   2.018076    23.88   0.000     44.22007    52.17993
      white  |   54.05517   .7494947    72.12   0.000     52.57706    55.53328
------------------------------------------------------------------------------

.

In [ ]:
%stata regress write b0.race

note: 0b.race identifies no observations in the sample.
note: 4.race omitted because of collinearity.

      Source |       SS           df       MS      Number of obs   =       200
-------------+----------------------------------   F(3, 196)       =      7.83
       Model |  1914.15805         3  638.052682   Prob > F        =    0.0001
    Residual |   15964.717       196  81.4526375   R-squared       =    0.1071
-------------+----------------------------------   Adj R-squared   =    0.0934
       Total |   17878.875       199   89.843593   Root MSE        =    9.0251

------------------------------------------------------------------------------
       write | Coefficient  Std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
        race |
          0  |          0  (empty)
   hispanic  |  -7.596839    1.98887    -3.82   0.000    -11.51917   -3.674507
      asian  |   3.944828   2.822504     1.40   0.164    -1.621548    9.511204
african-a~r  |  -5.855172    2.15276    -2.72   0.007    -10.10072   -1.609626
      white  |          0  (omitted)
             |
       _cons |   54.05517   .7494947    72.12   0.000     52.57706    55.53328
------------------------------------------------------------------------------

In [ ]:
df = stata.pdataframe_from_data()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       200 non-null    float64
 1   female   200 non-null    float64
 2   race     200 non-null    float64
 3   ses      200 non-null    float64
 4   schtyp   200 non-null    float64
 5   prog     200 non-null    float64
 6   read     200 non-null    float64
 7   write    200 non-null    float64
 8   math     200 non-null    float64
 9   science  200 non-null    float64
 10  socst    200 non-null    float64
dtypes: float64(11)
memory usage: 17.3 KB